surveil:
  build: .
  links:
   - mongo
   - influxdb
   - shinken
  ports:
   - "8080:8080"
  environment:
    PBR_VERSION: "DEV"
  volumes:
   - ./surveil:/surveil/surveil
  command: bash -c "cd /surveil/ && python setup.py develop && ((sleep 40 && surveil-init --demo) &) && sleep 20 && surveil-api --reload"

shinken:
  build: tools/docker/shinken_container/
  links:
    - mongo
    - influxdb
  ports:
    - "7767:7767"

mongo:
  image: mongo
  ports:
   - "27017:27017"
  command:
      "mongod --nojournal --smallfiles"

influxdb:
  image: savoirfairelinux/influxdb
  environment:
    PRE_CREATE_DB: "db"
  ports:
    - "8083:8083"
    - "8086:8086"

grafana:
  image: savoirfairelinux/grafana
  environment:
    INFLUXDB_HOST: "influxdb"
    INFLUXDB_PORT: "8086"
    INFLUXDB_NAME: "db"
    INFLUXDB_USER: "root"
    INFLUXDB_PASS: "root"
  ports:
    - "80:80"
  links:
    - influxdb

bansho:
  image: savoirfairelinux/bansho
  environment:
    BANSHO_BACKEND: "surveil"
    BANSHO_SURVEIL_URL: "http://surveil:8080/"
  ports:
    - "8888:8888"
  links:
    - surveil
