surveil:
  build: .
  links:
   - mongo
   - influxdb
   - alignak
  ports:
   - "8080:8080"
  environment:
    PBR_VERSION: "DEV"
  volumes:
   - ./surveil:/opt/surveil/surveil
  command: bash -c "cd /opt/surveil && ./setup.sh && /opt/surveil/env/bin/python setup.py develop && ((sleep 40 && surveil-init --demo) &) && sleep 20 && surveil-api --reload"
#  privileged: true # Fedora users might want to uncomment this if they face permission issues

alignak:
  build: tools/docker/alignak_container/
  links:
    - mongo
    - influxdb
  ports:
    - "7767:7767"
  environment:
    SURVEIL_OS_AUTH_URL: "http://keystone:5000/v2.0"
    SURVEIL_OS_USERNAME: "admin"
    SURVEIL_OS_PASSWORD: "password"
    SURVEIL_OS_TENANT_NAME: "admin"

mongo:
  image: mongo
  ports:
   - "27017:27017"
  command:
      "mongod --nojournal --smallfiles"

influxdb:
  image: savoirfairelinux/influxdb:0.9.0
  environment:
    PRE_CREATE_DB: "db"
  ports:
    - "8083:8083"
    - "8086:8086"

grafana:
  image: savoirfairelinux/grafana:2.1.0-pre1
  environment:
    GRAFANA_ROOT_URL: "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
    GRAFANA_AUTH_PROXY_ENABLED: true
    GRAFANA_AUTH_PROXY_HEADER_NAME: grafana-user
  links:
    - influxdb

bansho:
  image: savoirfairelinux/bansho
  environment:
    BANSHO_BACKEND: "surveil"
    BANSHO_SURVEIL_URL: "http://surveil:8080/"
    INFLUXDB_HOST: "influxdb"
    INFLUXDB_PORT: "8086"
    INFLUXDB_NAME: "db"
    INFLUXDB_USER: "root"
    INFLUXDB_PASS: "root"
  ports:
    - "8888:8888"
  links:
    - surveil
    - grafana
